@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-size: 16px;
}
body {
  letter-spacing: 2px;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
main {
  width: 1080px;
  margin: 0 auto;
}

.section-title {
  z-index: 5;
  font-size: 2.5rem;
  margin-bottom: 100px;
  text-align: center;
}

.top {
  text-align: center;
  margin-bottom: 100px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
.header {
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
.header .title {
  padding: 20px 0 0 50px;
  width: 200px;
}

/* ハンバーガーメニューのナビゲーションの設定 */
#hamburger-navigation {
  width: 100%;
  height: 100vh;
  background-color: #008DC9;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
}
/*
ハンバーガーメニューがクリックされた際に、JavaScriptで#hamburger-navigationにactiveクラスを追加して、
メニューを表示させる。
*/
#hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
}
#hamburger-navigation img {
  width: 150px;
  position: absolute;
  top: 20px;
  left: 50px;
}
#hamburger-navigation .sections {
  margin-top: 180px;
}
#hamburger-navigation .sections li {
  margin-bottom: 40px;
}
#hamburger-navigation .sections a {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}

/* ハンバーガ―メニューの見た目部分の設定 */
.hamburger-menu {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #008DC9;
  margin: 10px 50px 0 0;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.4s;
  padding-top: 10px;
  position: relative;
}
.hamburger-menu:hover {
  opacity: 0.5;
}
/* ハンバーガーメニューの線の設定（初期の三本線の状態） */
.hamburger-menu span {
  width: 50px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 15px;
  transition: 0.4s ease-in-out;
}
/* 1本目の線の位置 */
.hamburger-menu span:nth-child(1) {
  top: 24px;
}
/* 2本目の線の位置 */
.hamburger-menu span:nth-child(2) {
  top: 40px;
}
/* 3本目の線の位置 */
.hamburger-menu span:nth-child(3) {
  top: 56px;
}

/* ハンバーガーメニューの線の設定（クリックされてメニューが表示されている際の、バツ印の状態） */
/* 1本目の線を-45度回転 */
.hamburger-menu.active span:nth-child(1) {
  top: 40px;
  left: 15px;
  background: #fff;
  transform: rotate(-45deg);
}
/* 2本目と3本目は重ねて45度回転 */
.hamburger-menu.active span:nth-child(2),
.hamburger-menu.active span:nth-child(3) {
  top: 40px;
  background: #fff;
  transform: rotate(45deg);
}

/*-------------------------------------------
ファーストビュー
-------------------------------------------*/
#firstview {
  margin-bottom: 10%;
  padding-top: 100px;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about {
  margin-bottom: 10%;
  margin-top:-100px;
  padding-top:100px;
}

/*-------------------------------------------
Service
-------------------------------------------*/
#service {
  margin-bottom: 10%;
  margin-top:-100px;
  padding-top:100px;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works {
  margin-bottom: 10%;
  margin-top:-100px;
  padding-top:100px;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  background-color: #e8e8e9;
  padding: 100px 0 100px 0;
}

#footer p {
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {
  main {
    width: 100%;
  }
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 60px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  .header {
    padding: 25px 0 0 25px;
  }
  .header .title {
    width: 120px;
    padding: 0;
  }

  /* ハンバーガーメニューのナビゲーション */
  #hamburger-navigation img {
    width: 120px;
    top: 25px;
    left: 25px;
  }
  #hamburger-navigation .sections {
    margin-top: 110px;
  }
  #hamburger-navigation .sections a {
    margin-top: 110px;
    font-size: 16px;
  }
  
  /* ハンバーガ―メニュー */
  .hamburger-menu {
    width: 56px;
    height: 56px;
    margin: 0 25px 0 0;
  }
  .hamburger-menu span {
    width: 35px;
    left: 10px;
  }
  .hamburger-menu span:nth-child(1) {
    top: 16px;
  }
  .hamburger-menu span:nth-child(2) {
    top: 27px;
  }
  .hamburger-menu span:nth-child(3) {
    top: 38px;
  }
  .hamburger-menu.active span:nth-child(1) {
    top: 27px;
    left: 10px;
    background: #fff;
    transform: rotate(-45deg);
  }
  .hamburger-menu.active span:nth-child(2),
  .hamburger-menu.active span:nth-child(3) {
    top: 27px;
    background: #fff;
    transform: rotate(45deg);
  }
  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works {
    margin-bottom: 60%;
  }
  /*-------------------------------------------
  フッター
  -------------------------------------------*/
  #footer p {
    font-size: 12px;
  }
}
