/* デフォのスタイル */
.menu {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.menu-title {
  display: flex;
}

.menu-title h1 {
  font-size: 20px;
}

.menu-icon {
  margin: auto 10px auto auto;
  padding: 10px 15px;
}

.menu-icon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #c7c6c6;
}

.menu-text {
  margin: 0;
  padding: 30px 0;
}

/* JSで変更を加えるスタイル */
main .display-none {
  display: none;
}

.another-page {
  margin-top: 200px;
  text-align: center;
}
